<div class="col-md-6 offset-md-3">
    <h3> Update Reservation </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> ID CLIENT</label>
            <input type="text" class ="form-control" id = "idClient"
                [(ngModel)] = "reservation.idClient" name = "idClient">
        </div>
    
        <div class="form-group">
            <label>ID VOL</label>
            <input type="text" class ="form-control" id = "idVol"
                [(ngModel)] = "reservation.idVol" name = "idVol">
        </div>
    
        <div class="form-group">
            <label>DATE RESERVATION</label>
            <input type="text" class ="form-control" id = "dateReservation"
                [(ngModel)] = "reservation.dateReservation" name = "dateReservation">
        </div>
    
        <button class = "btn btn-success" type ="submit">Update</button>
    
    </form>
    </div> 