<div class="col-md-6 offset-md-3">
    <h3> Create Aero </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Nom</label>
            <input type="text" class ="form-control" id = "nom"
                [(ngModel)] = "aero.nom" name = "nom">
        </div>
    
        <div class="form-group">
            <label>Pays</label>
            <input type="text" class ="form-control" id = "pays"
                [(ngModel)] = "aero.pays" name = "pays">
        </div>
    
        <div class="form-group">
            <label> Ville</label>
            <input type="text" class ="form-control" id = "ville"
                [(ngModel)] = "aero.ville" name = "ville">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 