<h3> View Personnels Details</h3>
<div>
    <div>
        <label> <b> Nom: </b></label> {{personnel.nom}}
    </div>
    <div>
        <label> <b> Prenom: </b></label> {{personnel.prenom}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{personnel.email}}
    </div>
    <div>
        <label> <b> Adresse: </b></label> {{personnel.adresse}}
    </div>
    <div>
        <label> <b> Deprtement: </b></label> {{personnel.departement}}
    </div>
    <div>
        <label> <b> Numero de telephone: </b></label> {{personnel.numTel}}
    </div>
</div>