<h2> Reservations List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> ID CLIENT</th>
            <th> ID VOL  </th>
            <th> DATE RESERVATION</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let r of reservation" >
            <td> {{ r.idClient }} </td>
            <td> {{ r.idVol }} </td>
            <td> {{ r.dateReservation }} </td>
            <td>
                <button (click) = "updateReservation(r.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteReservation(r.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "ReservationDetails(r.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
<a routerLink="/add/aero"><button class="btn btn-success pull-right" > Add Reservation</button></a>
